flows.json
[
    {
        "id": "6feec8e04bcef45b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4fe80b17719e8724",
        "type": "mqtt-broker",
        "name": "muskrattrap@ttn",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "tls": "f5a2cebc5ac49db9",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f5a2cebc5ac49db9",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "c863e9b2ec3be8ca",
        "type": "mqtt in",
        "z": "6feec8e04bcef45b",
        "name": "muskrattrap@ttn",
        "topic": "v3/muskrattrap@ttn/devices/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "4fe80b17719e8724",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 40,
        "wires": [
            [
                "918fa74303ce0827",
                "0767908d755748bf"
            ]
        ]
    },
    {
        "id": "918fa74303ce0827",
        "type": "debug",
        "z": "6feec8e04bcef45b",
        "name": "raw mqtt",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 380,
        "y": 40,
        "wires": []
    },
    {
        "id": "0767908d755748bf",
        "type": "json",
        "z": "6feec8e04bcef45b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 180,
        "wires": [
            []
        ]
    }
]